# Ignorar la carpeta "data"
data/
oldmodels/
datanew/
dataold/
datat/
collectimg/

# Ignorar los archivos específicos
entrenador.py
features.pkl
labels.pkl
model.p
my_model.pkl
collectimg/collect.exe
